In [2]:

a = 5
print(type(a))


b = 3.14
print(type(b))


c = 2 + 3j
print(type(c))

print(a + b)
print(a - b)
print(a * b)
print(a /b)

<class 'int'>
<class 'float'>
<class 'complex'>
8.14
1.8599999999999999
15.700000000000001
1.592356687898089

In [4]:
a = 5
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)


print(a == b)
print(a != b)
print(a < b)
print(a > b)

print(a > b and a == 5)
print(a > b or a == 5)


a += b
print(a)

8
2
15
1.6666666666666667
False
True
False
True
True
True
8

In [5]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Accessing elements
print(my_list[0])  # Indexing
print(my_list[1:3])  # Slicing

# Modifying elements
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3, 4, 5]

# Adding elements
my_list.append(6)
print(my_list)  # Output: [10, 2, 3, 4, 5, 6]
my_list.insert(0, 0)
print(my_list)  # Output: [0, 10, 2, 3, 4, 5, 6]

# Removing elements
my_list.remove(10)
print(my_list)  # Output: [0, 2, 3, 4, 5, 6]
my_list.pop()
print(my_list)  # Output: [0, 2, 3, 4, 5]

# Other methods
my_list.sort()
print(my_list)  # Output: [0, 2, 3, 4, 5]
my_list.reverse()
print(my_list)  # Output: [5, 4, 3, 2, 0]
my_list.extend([6, 7, 8])
print(my_list)  # Output: [5, 4, 3, 2, 0, 6, 7, 8]
print(my_list.count(5))  # Output: 1
print(my_list.index(5))  # Output: 0
my_list_copy = my_list.copy()
print(my_list_copy)  # Output: [5, 4, 3, 2, 0, 6, 7, 8]

1
[2, 3]
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5, 6]
[0, 10, 2, 3, 4, 5, 6]
[0, 2, 3, 4, 5, 6]
[0, 2, 3, 4, 5]
[0, 2, 3, 4, 5]
[5, 4, 3, 2, 0]
[5, 4, 3, 2, 0, 6, 7, 8]
1
0
[5, 4, 3, 2, 0, 6, 7, 8]

In [6]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Accessing elements
print(my_tuple[0])
print(my_tuple[1:3])

# Concatenation
my_tuple2 = (6, 7, 8)
print(my_tuple + my_tuple2)

# Repetition
print(my_tuple * 2)

# Count
print(my_tuple.count(5))

# Index
print(my_tuple.index(5))

1
(2, 3)
(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
1
4

In [8]:

# Create a set
my_set = {1, 2, 3, 4, 5}

# Add elements
my_set.add(6)
print(my_set)

# Remove elements
my_set.remove(5)
print(my_set)

# Union
my_set2={4,5,6,7}

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 6}

In [9]:
# Create a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Accessing key-value pairs
print(my_dict['name'])

# Adding items
my_dict['country'] = 'USA'
print(my_dict)

# Removing items
my_dict.pop('age')
print(my_dict)

# Using get() method
print(my_dict.get('name'))

# Using keys() method
print(my_dict.keys())

# Using values() method
print(my_dict.values())

# Using items() method
print(my_dict.items())

# Using update() method
my_dict.update({'age': 31})
print(my_dict)

John
{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}
{'name': 'John', 'city': 'New York', 'country': 'USA'}
John
dict_keys(['name', 'city', 'country'])
dict_values(['John', 'New York', 'USA'])
dict_items([('name', 'John'), ('city', 'New York'), ('country', 'USA')])
{'name': 'John', 'city': 'New York', 'country': 'USA', 'age': 31}

In [13]:

if True:
    print("Hello, World!")

Hello, World!

In [14]:

x = 5
print(x)

5

In [15]:

my_list = [1, 2, 3]
print(my_list[2])

3

In [17]:

my_dict = {'name': 'John', 'age': 30}


print(my_dict['name'])
print(my_dict.get('city', 'Not found'))

John
Not found