In [2]:
p = 50
if p > 75:
    print("O")
elif 60 <= p <= 75:
    print("A")
elif 50 <= p < 60:
    print("B")
elif 35 <= p < 50:
    print("C")
else:
     print("Fail")

B

In [3]:
n = 7
if n % 2 == 0 and n % 3 == 0:
    print("Divisible by 2 and 3")
elif n % 2 == 0:
    print("Divisible by 2, not 3")
elif n % 3 == 0:
    print("Divisible by 3, not 2")
else:
    print("Not divisible by 2 and 3")

Not divisible by 2 and 3

In [5]:
for i in range(21, 80, 2):
    print(i,end=" ")

21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79

In [6]:
numbers = []
for i in range(1, 21):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
numbers = []
for i in range(20, 0, -1):
    numbers.append(i)
print(numbers)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
cubes = []
for i in range(20, 41):
    if i % 2 != 0:
        cubes.append(i **3)
print(cubes)

[9261, 12167, 15625, 19683, 24389, 29791, 35937, 42875, 50653, 59319]

In [10]:
names = ['a', 'b', 'c', 'd', 'e']
ages = [20, 21, 23, 25, 24]
for i in range(len(names)):
    print(f"My name is {names[i]}, my age is {ages[i]}")

My name is a, my age is 20
My name is b, my age is 21
My name is c, my age is 23
My name is d, my age is 25
My name is e, my age is 24

In [11]:
my_list = [1, 2, 3, 4, 5]
my_list[0], my_list[-1] = my_list[-1], my_list[0]
print(my_list)

[5, 2, 3, 4, 1]

In [12]:
s = "hello"
print(len(s))

5

In [14]:
numbers = [1, 4, -5, -20, 10]
sum = 0
for num in numbers:
    if num >= 0:
        sum +=num
print(sum)

15

In [16]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
print(factorial(3))

6

In [17]:
i = 1
while i <= 10:
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")
    i+=1

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [18]:
i = 0
while i < 15:
    print("*", end=" ")
    i+=1

* * * * * * * * * * * * * * *

In [19]:
numbers = []
i = 1
while i <= 20:
    numbers.append(i)
    i += 1
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [20]:
numbers = []
i = 20
while i >= 1:
    numbers.append(i)
    i -= 1
print(numbers)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]